
a:link{
  color:yellow;
}
a:visited{
  color: green;
}


.playerCards {
float: left;
border-spacing: 22px 10px;
position: relative;
left: -4px;

}

.opponentCards {
  float: right;
  border-spacing: 22px 10px;
  position: relative;


}
.playingArea{
  position: relative;
  height:350px;
  width:595px;
  margin: auto;
  top: -43px;



}

.tableData{
  height: 84px;
  width: 65px;
  text-align: center;
  padding:0;

}

.points {

  height: 25px;
  width: 125px;

  position: relative;
  margin: auto;
  top: 43px;
  left: -2px;
}

.playerPoints{
  float: left;
  width: 50%;
  height:100%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.playerHand {
  float:left;
  height: 100%;
  width: 50%;
  border-spacing: 12px 0px;
  position: relative;
  right: 14px;


}

.oppHand{
  float: right;
  height: 100%;
  width: 50%;
  border-spacing: 12px 0px;
  position: relative;
  left: 8px;
}

.hands{
  position: relative;
  height:90px;
  width:715px;
  margin: auto;
  clear: both;
  top:-62px;


}

.oppPoints{
  float:right;
  width:50%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.names {
  width:75%;
  height: 50px;
  position: relative;
  margin: auto;
}

.playerName {
  float:left;
  width:40%;
  height: 75%;
  text-align: center;
  color: white;
  position: relative;
  top:10px;
  font-size: 20px;
}

.oppName{
  float: right;
  width: 40%;
  height: 75%;
  text-align: center;
  color: white;
  position: relative;
  top:10px;
  font-size: 20px;
}

.score {
  width:710px;
  height: 45px;
  margin: auto;
  position: relative;
  top: -36px;
  left: -2px;


}

.playerScore{
  width:6%;
  float: left;
  height: 50%;
  text-align: center;
  color: white;
  font-size: 20px;
  position: relative;
  top:10px;

}

.oppScore{
  width:6%;
  float: right;
  height:50%;
  text-align: center;
  color: white;
  font-size: 20px;
  position: relative;
  top:10px;
}

.controlPanel {
  width: 320px;
  height: 60px;
  position: relative;
  left: 60px;
  top:-10px;
}

.standIndicator{
  position: relative;
  top: -435px;
  margin: auto;
  clear: both;
  width: 595px;
  height: 20px;
}

.newGame{
  height: 300px;
  width:400px;
  background-color: blue;
  margin: auto;
  position: relative;
  top: -500px;
  color: white;
  text-align: center;
}
.enterName {
  margin: auto;
  left:0px;
  right:0px;
  position: absolute;
  top: 20%;
  height: 250px;
  width: 450px;
  background-color: #06287e;
  text-align: center;
  color: white;
}

.winner{
  height: 150px;
  width:400px;
  margin: auto;
  position: relative;
  top: -500px;
  color: white;
  text-align: center;
}


.signOut{
  height: 25px;
  width: 75px;
  background-color: #4169E1;
  position: absolute;
  top: 0px;
  right: 5px;
}
.signOut:hover{
  background-color: #87CEEB;
}
.signOut:active{
  background-color: #708090;
}
.home{
  height: 25px;
  width: 75px;
  background-color: #4169E1;
  position: absolute;
  top: 0px;
  left: 5px;
}

.logIn{
  margin: auto;
  left:0px;
  right:0px;
  color: white;
  position: absolute;
  top: 20%;
  height: 250px;
  width: 450px;
  background-color: #06287e;
  text-align: center;
}

.gamesList{
  margin: auto;
  left:0px;
  right:0px;
  color: white;
  position: absolute;
  top: 10%;
  height: 500px;
  width: 450px;
  background-color: #06287e;
  text-align: center;
}

.gameButton{
  height: 50px;
  width: 200px;
}

.createAccount{
  margin: auto;
  left:0px;
  right:0px;
  position: absolute;
  top: 20%;
  height: 300px;
  width: 450px;
  background-color: #06287e;
  text-align: center;
  color: white;
  font-size: 20px;
}
.createAccount form {
  display: table;
  margin: auto;
  text-align: center;
  padding: 5px 0;

}
.createAccount p{
  display: table-row;
  text-align: left;

}
.createAccount label{
  display: table-cell;
  padding: 10px;

}
.createAccount input{
  display: table-cell;
  margin: 10px;
}
.createAccount button{
  width:100px;
  height: 50px;
  position: relative;
  margin: auto;
  border-radius: 8px;
  background:white;
  font-size: 16px;
  position: absolute;
  left: 0;
  right:0;
  bottom: 25px;
}
